<h1>Welcome to Point Me Please</h1>
<p>Here at PMP we keep track of the points you enter in. We can calculate their dollar value, or proximity to dollar value. And put everything together in one scrollable place. Rather then having to open 100 apps, you can simply scroll through the points you track. When you get a new receipt, simply update the points you accumulated. We don't want your information! We are not connected to any other systems. Simply a app for you to manage as you see fit.</p>

<%= link_to "Lets get started" new_user_registration_path %>

<%= link_to "Welcome back" user_registration_path %>
